body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/094/486/large_2x/defocused-coffee-shop-and-restaurant-background-free-photo.jpg);
  background-size:auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
#heading{
    background-color: #c41200;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
  }
  
  li {
    float: center;
  }
  
  li a{
    display: block;
    color: white;
    padding: 14px 16px;
    font-weight:bold;
    font-size: 30px;
  }

#YelpImage{
    width: 100px;
    height: 100px;
}
#categorycontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#filtercontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#locationbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
label{
  font-size: 30px;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
h1{
  text-align: center;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.restcard img{
  height: 300px;
  width: 350px;
  margin-left: 25px;

}
.restcard{
  display: flex; 
  height: 400px;
  width: 400px; 
  border: 0px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color: #c41200;
  font-size: medium;
  color: white;
}
h2{
  text-align: center;
}
.restaurants{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
button{
  margin-left: 650px;
}